h1,
h2,
h3 {
  font-size: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

li {
  font-weight: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #78797e;
}

body {
  border: solid;
  border-color: #78797e;
  border-radius: 0 auto;
}
